/* Configurações gerais */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0%;
}

/* Títulos das secções */
.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

/** Transições **/
/* De cima para baixo */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
/* Da esquerda para a direita */
.reveal-left {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-left.active-left {
    opacity: 1;
    transform: translateX(0);
}
/* Da direita para a esquerda */
.reveal-right {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-right.active-right {
    opacity: 1;
    transform: translateX(0);
}
/* Transição fixa da esquerda para a direita */
.reveal-left-fixed {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-left-fixed.active-left-fixed {
    opacity: 1;
    transform: translateX(0);
}

/** Animações **/
@keyframes rotate { /* Rotacionar */
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* Header */
header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/hero-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade aqui */
    background-blend-mode: multiply; /* Combina a cor de fundo com a imagem */
    filter: grayscale(100%); /* Aplica o filtro cinza */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do header */
  }

/* Navbar */
.navbar {
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3.125rem;
    text-transform: uppercase;
}

.navbar-list-one {
    margin-left: 3.75rem;
}

.navbar-list-two {
    margin-right: 3.75rem;
}

.list-item a {
    text-decoration: none;
    color: white;
}

.dropdown-toggle:hover, .dropdown-toggle.show, .dropdown-toggle:focus {
    color: white;
}

.dropdown-menu {
    border-radius: 0%;
}

.dropdown-item {
    color: black !important;
}

.offcanvas-title {
    font-family: 'Montserrat', sans-serif;
}

.side-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    
}

.side-menu li a {
    color: black !important;
    text-decoration: none;
}

.fi-sr-menu-burger {
    color: white;
    display: none;
}

/* Hero Section */
.hero-img {
    margin-left: 6.25rem;
    z-index: 1;
    animation: rotate 10s linear infinite;
}

.hero-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.hero-caption {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.cta-negative {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 0.625rem 1.25rem;
    border-radius: 0;
    cursor: pointer;
    border-color: white;
}

.cta-negative:hover {
    background-color: transparent;
    color: white;
    border-color: white;
}

/* Qualidades */
.quality-card {
    width: 15.625rem;
    height: 15.625rem;
    color: black !important;
}

.quality-card i {
    font-size: 4.063rem;
    color: black;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-body {
    box-shadow: 0.125rem 0.125rem 0.313rem gray;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: medium;
}

.card-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: small;
}

/* Sobre nós */

.about-us-caption {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
}

.dif-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.dif-caption {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.dif-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: black;
}

.border-custom {
    border-color: black !important;
}

.cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0;
    cursor: pointer;
    border-color: white;
}

.cta:hover {
    background-color: transparent;
    color: black;
    border-color: black;
}

/* Menu */
.menu-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

.category-icon {
    font-size: 2.5rem;
}

.category-text small {
    font-family: 'Lato', sans-serif;
}

.category-text h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.menu-category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.625rem;
}

.product {
    padding: 0 5.625rem;
}

.upper-description {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.lower-description {
    color: gray;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;

}

/* Reservar */
.reservation .section-title {
    color: white !important;
}
.reservation-img {
    width: 100%;
    object-fit: cover;
}

.res-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.res-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.125rem;
}

.res-copy h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.res-copy p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 80%;
}

.contact-information {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
}

.contact-information a {
    color: white;
    text-decoration: none;
}

/* Colaboradores */
.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3.125rem;
    color: black;
    text-align: center;
}

.col-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.col-designation {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Testemunhos */
.carousel-inner {
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    margin-top: 3.125rem;
    width: 70%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0.125rem 0.125rem 0.313rem gray;
}

.carousel-item {
    background-color: white !important;
    width: 100%;
    height: 100%;
    padding: 40px;
    
    
}

.feedback {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

.client {
    display: flex;
    gap: 20px;
    align-items: center;
}

.client-pic {
   height: 56px;
   width: 56px;
}

.client-img {
    height: 56px;
    object-fit: cover;
}

.client-info h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.carousel-item i {
    font-size: 3rem;
    color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333; /* Muda a cor de fundo do ícone */
    border-radius: 50%; /* Deixa o ícone redondo */
    width: 50px; /* Define a largura do ícone */
    height: 50px; /* Define a altura do ícone */
    background-size: 50%; /* Ajusta o tamanho do ícone dentro do círculo */
}

.carousel-indicators button {
    display: inline-block;
    box-sizing: border-box;
    width: 10px !important; /* Largura interna do indicador */
    height: 10px !important; /* Altura interna do indicador */
    border-radius: 50% !important; /* Forma circular */
    background-color: transparent; /* Torna o fundo transparente */
    border: 2px solid black !important; /* Borda preta para todos os indicadores */
    
}

.carousel-indicators .active {
    background-color: gray; 
}

.carousel-indicators {
    bottom: -60px; /* Ajusta a posição vertical dos indicadores */
    padding-left: 0; /* Removendo padding que pode interferir */
    margin-left: auto; 
    margin-right: auto; 
    
}


/* Rodapé */
footer {
    background-color: black;
    color: white;
    width: 100vw;
}

footer ul {
    list-style: none;
    padding-left: 0;
    font-family: 'Lato', sans-serif;
}

footer li a {
    text-decoration: none;
    color: white;
}

.social {
    margin-top: 0.625rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 1.875rem;
}

.social a {
    text-decoration: none;
    color: white
}

form {
    height: 3.125rem;
    position: relative;
    width: fit-content;
}

form input {
    width: 18.75rem;
    height: 3.125rem;
    padding: 0.625rem;
}

form .cta {
    position: absolute;
    right: 0.438rem;
    top: 0.75rem;
    font-size: smaller;
}

.copy-quote {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
}

/* Botão flutuante */
#topBtn {
    position: fixed;
    visibility: hidden;
    right: 3.5rem;
    bottom: 3.5rem;
    text-decoration: none;
}

#topBtn:hover {
    background-color: white;
    color: black;
}


/* Responsividade: Telemóvel */

@media screen and (max-width: 768px) {
    /* Esconder itens */
    .hideOnMobile {
        display: none;
    }
    /* Logotipo mais a esquerda */
    .navbar-brand {
        margin-right: auto;
    }
    .fi-sr-menu-burger {
        display: flex;
        margin-right: 1.875rem;
    }
    /* Centralizar o hero-img */
    .hero-img {
        margin-left: 0;
    }
    
    .menu-category {
        flex-direction: column;
        width: 9.375rem;
    }

    .category-text {
        text-align: center;
    }

    .category-icon {
        margin-right: 0px !important;
    }

    .product {
        padding: 0 1.25rem;
    }

    .res-copy p {
        width: 100%;
    }
    /* Testemunho */
    .carousel-inner {
        height: 450px;
    }
}

/* Responsividade: Tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Esconder itens */
    .hideOnMobile {
        display: none;
    }
    /* Logotipo mais a esquerda */
    .navbar-brand {
        margin-right: auto;
    }
    .fi-sr-menu-burger {
        display: flex;
        margin-right: 1.875rem;
    }
    /* Centralizar o hero-img */
    .hero-img {
        margin-left: 0;
    }
    /* Categorias do Menu */
    .menu-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 9.375rem;
    }

    .menu-category i {
        margin-right: 0px !important;
    }

    .category-text {
        text-align: center;
    }
    /* Imagem da secção de reserva */
    .reservation-img {
        width: 100%;
        object-fit: cover;
        height: 33.55rem;
    }

}
