/* Animações */
@keyframes rotate { /* Rotacionar */
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* Header */
header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/hero-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade aqui */
    background-blend-mode: multiply; /* Combina a cor de fundo com a imagem */
    filter: grayscale(100%); /* Aplica o filtro cinza */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do header */
  }

/* Navbar */
.navbar {
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
    text-transform: uppercase;
}

.navbar-list-one {
    margin-left: 60px;
}

.navbar-list-two {
    margin-right: 60px;
}

.list-item a {
    text-decoration: none;
    color: white;
}

.dropdown-toggle:hover, .dropdown-toggle.show, .dropdown-toggle:focus {
    color: white;
}

.dropdown-menu {
    border-radius: 0%;
}

.dropdown-item {
    color: black !important;
}

.offcanvas-title {
    font-family: 'Montserrat', sans-serif;
}

.side-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.side-menu li a {
    color: black !important;
    text-decoration: none;
}

.fi-sr-menu-burger {
    color: white;
    display: none;
}

/* Hero Section */
.hero-img {
    margin-left: 100px;
    z-index: 1;
    animation: rotate 10s linear infinite;
}

.hero-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.hero-caption {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.cta-negative {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    border-color: white;
}

.cta-negative:hover {
    background-color: transparent;
    color: white;
    border-color: white;
}

/* Qualidades */
.quality-card {
    width: 250px;
    height: 250px;
    color: black !important;
}

.quality-card i {
    font-size: 65px;
    color: black;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-body {
    box-shadow: 2px 2px 5px gray;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: medium;
}

.card-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: small;
}

/* Sobre nós */
.about-us-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

.about-us-caption {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
}

.dif-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.dif-caption {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.dif-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: black;
}

.border-custom {
    border-color: black !important;
}

.cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    border-color: white;
}

.cta:hover {
    background-color: transparent;
    color: black;
    border-color: black;
}

/* Responsividade: Telemóvel */

@media screen and (max-width: 768px) {
    /* Esconder itens */
    .hideOnMobile {
        display: none;
    }
    /* Logotipo mais a esquerda */
    .navbar-brand {
        margin-right: auto;
    }
    .fi-sr-menu-burger {
        display: flex;
        margin-right: 30px;
    }
    /* Centralizar o hero-img */
    .hero-img {
        margin-left: 0;
    }
}