/* Animações */
@keyframes rotate { /* Rotacionar */
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* Header */
header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/hero-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade aqui */
    background-blend-mode: multiply; /* Combina a cor de fundo com a imagem */
    filter: grayscale(100%); /* Aplica o filtro cinza */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do header */
  }

/* Navbar */
.navbar {
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
    text-transform: uppercase;
}

.navbar-list-one {
    margin-left: 60px;
}

.navbar-list-two {
    margin-right: 60px;
}

.list-item a {
    text-decoration: none;
    color: white;
}

.dropdown-toggle:hover, .dropdown-toggle.show, .dropdown-toggle:focus {
    color: white;
}

.dropdown-menu {
    border-radius: 0%;
}

.dropdown-item {
    color: black !important;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(225, 225, 225, 0.2); 
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    gap: 10px;
    padding-top: 20px;
    text-transform: uppercase;
}
    
.sidebar li {
    width: 100%;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.dropdown-sidebar {
    color: black !important;
}

.menu-burger {
    display: none;
}

.menu-burger a {
    text-decoration: none;
}

.fi-sr-menu-burger {
    color: white;
}

/* Hero Section */
.hero-img {
    margin-left: 100px;
    z-index: 1;
    animation: rotate 10s linear infinite;
}

.hero-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.hero-caption {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.hero-cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    border-color: white;
}

.hero-cta:hover {
    background-color: transparent;
    color: white;
    border-color: white;
}

/* Qualidades */
.quality-card {
    width: 250px;
    height: 250px;
}

.quality-card i {
    font-size: 65px;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-body {
    box-shadow: 2px 2px 5px gray;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: medium;
}

.card-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: small;
}

/* Responsividade: Telemóvel */

@media screen and (max-width: 768px) {
    /* Esconder itens */
    .hideOnMobile {
        display: none;
    }
    /* Logotipo mais a esquerda */
    .navbar-brand {
        margin-right: auto;
    }
    .menu-burger {
        display: flex;
        margin-right: 30px;
    }
    /* Sidebar ocupa toda a tela */
    .sidebar {
        width: 100%;
    }
    /* Centralizar o hero-img */
    .hero-img {
        margin-left: 0;
    }
}